* {
  background-color: #203239;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.container-fluid a{
  margin-left: 4vmin;
}

.about-section button {
  height: 6vmin;
  width: 15vmin;
}

#about-container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 80vmin;
  width: 100%;
}

.container {
  margin-top: 25vmin;
}

#contacts {
  display: flex;
  color: white;
  width: 80%;
  margin-left: 15vmin;
  justify-content: space-around;
}

#about-container h1 {
  color: white;
}

#about-container h3 {
  color: white;
}

#about-container h5 {
  color: white;
}

.photo img {
  height: 40vmin;
  width: 40vmin;
}

.hello {
  --border-width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vmin;
  width: 70vmin;
  border-radius: var(--border-width);
  
}



.me-section {
  display: flex;
  justify-content: center;
}

.me-section span {
  color: white;
}

.me-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  margin-top: 40vmin;
  margin-left: 50vmin;
  height: 80vmin;
  width: 100%;
}

#intro {
  display: flex;
  justify-content: row;
  font-size: 2vmin;
}

#intro-about {
  margin-right: 5vmin;
  width: 70vmin;
}

#intro img {
  width: 60vmin;
  margin-right: 10vmin;
  border:2px solid #203239;
  -moz-box-shadow: 10px 10px 5px #324F5A;
  -webkit-box-shadow: 10px 10px 5px #324F5A;
  box-shadow: 10px 10px 5px #324F5A;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

.container {
  width: 100%;
}

.item .box {
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  margin-left: 5vmin;
  height:40vmin;
  width: 80vmin;
  position:relative;
  overflow:hidden;
}

.item .cover {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(to bottom,#E1DEDD  0%, #978D8A 100%);
  transition: opacity 0.15s ease-in;
  opacity:0;
  padding-top: .5vmin;
  color:#fff;
  /* text-shadow:1px 1px 1px rgba(0,0,0,0.15); */
}

.item:hover .cover {
  opacity: 1;
}

.item .name {
  font-weight:bold;
  margin-bottom:8px;
  opacity: 1;
  background-color:rgba(0,0,0,0);
}

.item .title {
  text-transform:uppercase;
  font-weight:bold;
  color: black;
  letter-spacing:2px;
  font-size:13px;
  margin-bottom:20px;
  background-color:rgba(0,0,0,0);
  text-shadow: 2px black;
}

.social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
  background-color:rgba(0,0,0,0);
}

.social {
 background-color:rgba(0,0,0,0);
}

.social i {
  background-color:rgba(0,0,0,0);
}

.social a:hover {
  opacity:1;
}

.tech {
  background-color:rgba(0,0,0,0);
}

.tech img{
  margin: 0 2vmin 0 2vmin;
  height: 10vmin;
  width: 10vmin;
  background-color:rgba(0,0,0,0);
}

#js-logo {
  height: 6vmin;
  width: 6vmin;
  margin-top: .7vmin;
}

#css-logo {
  height: 7vmin;
  width: 6vmin;
}

#html-logo {
  height: 8vmin;
  width: 8vmin;
  margin-left: -.1vmin;
}

#node-logo {
  width: 9.5vmin;
  height: 6vmin;
}

#express-logo {
  height: 9vmin;
  width: 13vmin;
}

#mongo-logo {
  height: 5vmin;
  width: 12vmin;
}

#python-logo {
  height: 5vmin;
  width: 11vmin;
}

#postgres-logo {
  height: 5vmin;
  width: 5vmin;
}

#django-logo {
  height: 5vmin;
  width: 8vmin;
}

#react-logo {
  height: 9vmin;
  width: 10vmin;
}